<div class="publications">
  <h2>Selected Publications</h2>
  <p class="post-description">Notation * indicates equal contributions.</p>
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
